<div class="w-100 h-100">
  <div class="row w-100 mb-3 d-flex justify-content-evenly align-items-start gap-1" [formGroup]="formPesquisa">
    <mat-form-field class="example-full-width p-0 col-6" >
      <mat-label for="pesquisa">Título a ser pesquisado</mat-label>
      <input matInput placeholder="Ex. Titulo 1" id="pesquisa" formControlName="pesquisa">
    </mat-form-field>
    <button mat-raised-button class="p-3 bg-btn-primary rounded-3 color-white col-2 h-100" (click)="pesquisarTitulo()">
      <mat-icon class="fw-bold fs-3 h-100 w-100 mr-0 p-0" fontIcon="search"></mat-icon>
      <p class="m-0">Pesquisar</p>
    </button>
    <button mat-raised-button class="p-3 bg-btn-secondary rounded-3 color-white col-2 h-100" (click)="carregarTitulos()">
      <mat-icon class="fw-bold fs-3 h-100 w-100">
        <span class="material-symbols-outlined">
        mop
        </span>
      </mat-icon>
      Limpar
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [summary]="descriptionTable">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef> Ano </th>
      <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ator">
      <th mat-header-cell *matHeaderCellDef> Ator </th>
      <td mat-cell *matCellDef="let element"> {{element.ator?.primeiroNome + element.ator?.ultimoNome}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="classe">
      <th mat-header-cell *matHeaderCellDef> Classe </th>
      <td mat-cell *matCellDef="let element"> {{element.classe?.nome}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="diretor">
      <th mat-header-cell *matHeaderCellDef> Diretor </th>
      <td mat-cell *matCellDef="let element"> {{element.diretor?.primeiroNome + element.diretor?.ultimoNome}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="opcoes">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Opções </th>
      <td mat-cell *matCellDef="let element">
        <div class="w-100 d-flex justify-content-center gap-3 flex-wrap">
          <button mat-button class="btn-warn color-white" (click)="onDelete(element.id)">Excluir</button>
          <button mat-button class="btn-success color-white" (click)="onEdit(element.id)">Editar</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
